/*=============== VARIABLES ===============*/
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;
    --main-transition: 0.3s;
}
/*=============== GLOBAL RULES ===============*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input {
    border: none;
}

*:focus {
    outline: 0;
}

body {
    font-family: "Open Sans"; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/* CUSTOM SRCOLLBAR */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue-alt-color);
}

/*=============== MAIN PAGE ===============*/
.page {
    min-height: 100vh;
    background-color: #f5f6f9;
}

/*=============== SIDEBAR ===============*/
.page aside {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.page aside > h3 {
    margin-bottom: 50px;
}

.page aside ul li a {
    margin-bottom: 5px;
    transition: var(--main-transition);
}
.page aside ul li a.active,
.page aside ul li a:hover {
    background-color: #f6f6f6;
}

.page aside ul li a span {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .page aside {
        width: 60px;
        padding: 10px;
    }
    .page aside > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .page aside > h3::before,
    .page aside > h3::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
}
    .page aside > h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
    }

    .page aside > h3:after {
        width: 12px;
        height: 12px;
        bottom: -29px;
        border: 3px solid white;
        border-radius: 50%;
    }
}

/*=============== CONTENT ===============*/
.page .content {
    overflow: hidden;
}


/*=============== HEAD ===============*/
.head .search input {
    width: 160px;
    margin-left: 5px;
    padding-left: 30px;
    border: 1px solid var(--border-color);
    font-size: 12px;
    transition: var(--main-transition);
}

.head .search input:focus {
    width: 180px;
}

.head .search input::placeholder {
    font-size: 12px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .search::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    position: absolute;
    font-size: 13px;
    color: var(--grey-color);
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.head .icon .notification::before  {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    right: -5px;
    background-color: var(--red-color);
    border-radius: 50%;
}

.head .icon img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

/*=============== PAGE TITLE ===============*/
.page h1 {
    margin: 20px 20px 50px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -20px;
    left: 0;
}

.page h1::before {
    width: 120px;
    background-color: white;
}

.page h1::after {
    width: 40px;
    background-color: black;
}

/*=============== WRAPPER ===============*/
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*=============== WELCOME WIDGET ===============*/
.welcome {
    overflow: hidden;
}

.welcome h2 span {
    color: #911ae3;
    transition-delay: 3s;
}

.welcome img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: 20px;
    padding: 2px;
    border: 2px solid white;
    box-shadow: 0 0 4px 4px #ddd;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body > div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transform: var(--main-transition);
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/*=============== QUICK DRAFT WIDGET ===============*/
.quick-draft form input::placeholder,
.quick-draft form textarea {
    font-size: 13px;
}

.quick-draft form textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft form input[type="submit"] {
    margin-left: auto;
    transform: var(--main-transition);
}

.quick-draft form input[type="submit"]:hover {
    background-color: var(--blue-alt-color);
}

/*=============== YEARLY TARGET WIDGET ===============*/
.target-row .progress {
    height: 4px;
}

.target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.target-row .details {
    flex: 1;
}

.target-row .details .progress > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.target-row .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.target-row .details .progress > span span::after {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    right: 10px;
    bottom: -13px;
}

/* Blue */
.target-row .details .money > span span::after {
    border-top-color: var(--blue-color);
}

.target-row .money > span {
    background-color: var(--blue-color);
}

.target-row .icon.money,
.target-row .progress.money {
    background-color: rgb(0 117 255 / 20%);
}

/* Orange */
.target-row .details .code > span span::after {
    border-top-color: var(--orange-color);
}

.target-row .code > span {
    background-color: var(--orange-color)
}

.target-row .icon.code,
.target-row .progress.code {
    background-color: rgba(245, 159, 11, 0.295);
}

/* Green */

.target-row .details .user > span span::after {
    border-top-color: var(--green-color);
}

.target-row .user > span {
    background-color: var(--green-color);
}

.target-row .icon.user,
.target-row .progress.user {
    background-color: rgba(34, 197, 94, 0.226);
}

/*=============== TICKETS STATISTICS WIDGET ===============*/
.tickets .box {
    border: 1px solid var(--border-color);
    width: calc(50% - 10px);
}

.tickets .box span {
    font-size: 25px;
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}

/*=============== LASTES NEWS WIDGET ===============*/
.news .news-row img {
    width: 100px;
    margin-right: 15px;
}

.news .news-row .info {
    flex-grow: 1;
}

.news .news-row .info h3 {
    margin: 0 0 6px;
}

.news .news-row:not(:last-child) {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .news .label {
        width: fit-content;
        margin: 10px auto;
    }
}

/*=============== LASTES TASKS WIDGET ===============*/
.tasks .task-row .info {
    flex-grow: 1;
}

.tasks .task-row:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .task-row i {
    transition: var(--main-transition);
}

.tasks .task-row i:hover {
    color: var(--red-color);
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

/*=============== LATEST UPDATE WIDGET ===============*/
.uploads .upload-row img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.uploads .upload-row .info {
    flex: 1;
}

.uploads .upload-row:not(:last-child) {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*=============== LAST PROJECT WIDGET ===============*/
.last-projects ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-projects ul li {
    margin-bottom: 25px;
}

.last-projects ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    outline: 2px solid var(--blue-color);
    z-index: 1;
}

.last-projects ul li.done::before {
    background-color: var(--blue-color);
}

.last-projects ul li:nth-child(4)::before {
    animation: show 2s infinite;
}

/* Animation */
@keyframes show {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: var(--blue-color);
    }
}

.last-projects img {
    width: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}

/*=============== REMINDERS  WIDGET ===============*/

.reminders ul li span {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.reminders ul li div {
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 15px;
}

.reminders ul li .blue {
    border-left-color: var(--blue-color);
}

.reminders ul li .green {
    border-left-color: var(--green-color);
}

.reminders ul li .orange {
    border-left-color: var(--orange-color);
}

.reminders ul li .red {
    border-left-color: var(--red-color);
}

/*=============== LATEST POST ===============*/
.post .info img {
    width: 32px;
    height: 32px; 
    margin-right: 15px;
}

.post .post-content {
    padding-bottom: 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: right;
}

.post .post-content .imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.post .post-content .imgs img {
    width: 150px;
    height: 150px;
}

/*=============== SOCIAL MEDIA STATS ===============*/
.social-stats .box {
    padding-left: 75px;
}

.social-stats .box i {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

.social-stats .box i:hover {
    transform: rotate(3deg);
}

/* Twitter */
.social-stats .twitter span {
    color: #1da1f2;
}

.social-stats .twitter {
    background-color: rgb(29 161 242 / 20%);
}

.social-stats a.twitter,
.social-stats i.twitter {
    background-color: #1da1f2;
} 

/* Tiktok */
.social-stats .tiktok span {
    color: #333;
}

.social-stats .tiktok {
    background-color: rgb(29 161 242 / 20%);
}

.social-stats a.tiktok,
.social-stats i.tiktok {
    background-color: #333;
} 

/* Telegrem */
.social-stats .telegrem span {
    color: #1c91cf;
}

.social-stats .telegrem {
    background-color: rgb(82 123 224 / 45%);
}

.social-stats a.telegrem,
.social-stats i.telegrem {
    background-color: #1c91cf;

} 

/* Instagram */
.social-stats .instagram span {
    color: #e714cb;
}

.social-stats .instagram {
    background-color: rgb(231 20 203 / 30%);
}

.social-stats a.instagram,
.social-stats i.instagram {
    background-color: #e714cb;
} 

/* Facebook */
/* .social-stats .facebook span {
    color: #1877f2;
}

.social-stats .facebook {
    background-color: rgb(24 119 242 / 20%);
}

.social-stats a.facebook,
.social-stats i.facebook {
    background-color: #1877f2;
} */

/* Youtube */
/* .social-stats .youtube span {
    color: #ff0000;
}

.social-stats .youtube {
    background-color: rgb(255 0 0 / 20%);
}

.social-stats a.youtube,
.social-stats i.youtube {
    background-color: #ff0000;
}  */

/* Linkedin */
/* .social-stats .linkedin span {
    color: #0077b5;
}

.social-stats .linkedin {
    background-color: rgb(0 119 181 / 20%);
}

.social-stats a.linkedin,
.social-stats i.linkedin {
    background-color: #0077b5;
}  */

/*=============== PROJECTS WIDGET ===============*/
.projects .responsive-table  {
    overflow-x: auto;
}

.projects table {
    min-width: 1000px;
    border-collapse: collapse;
}

.projects table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}

.projects table td {
    padding: 10px;
    border: 1px solid #eee;
    transition: var(--main-transition);
}

.projects table tr:hover td {
    background-color: #faf7f7;
}

.projects thead td {
    background-color: #eee;
    font-weight: bold;
}

.projects table tbody td .label {
    font-size: 13px;
}

/*=============== SETTINGS PAGE ===============*/
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    position: relative;
    width: 78px;
    height: 32px;
    background-color: #ccc;
    border-radius: 16px;
    cursor: pointer;
    transition: var(--main-transition);
}

.toggle-switch::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    background-color: white;
    color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

label input[type="checkbox"]:checked + .toggle-switch {
    background-color: var(--blue-color);
}

label input[type="checkbox"]:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-alt-color);
}

.site-control textarea {
    resize: none;
    min-height: 150px;
    border: 1px solid var(--border-color);
}

.site-control textarea::placeholder {
    font-size: 14px;
}

/*=============== GENERAL INFO WEDGIT ===============*/
.general-info .email {
    margin-right: 10px;
    display: inline-flex;
    width: calc(100% - 80px);
}

.general-info :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}

/*=============== SECURITY INFO WEDGIT ===============*/
.security-info .sec-box:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

/*=============== SOCIAL INFO WEDGIT ===============*/
.social-info .box i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-right: none;
    padding: 15px;
    border-radius: 6px 0px 0 6px;
    transition: var(--main-transition);
}

.social-info > div:focus-within i {
    color: black;
}

.social-info input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid var(--border-color);
    border-radius: 0 6px 6px 0;
    padding-left: 10px;
}

.social-info input::placeholder {
    font-size: 14px;
}

/*=============== WEDGIT CONTROL ===============*/
/*=============== SOCIAL INFO WEDGIT ===============*/
.wedgits-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.wedgits-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.wedgits-control .control label::before,
.wedgits-control .control label::after {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 0;
    border-radius: 4px;
}

.wedgits-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey-color);
}

.wedgits-control .control label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}

.wedgits-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1) rotate(0);
}

/*=============== BACKUP MANAGER WEDGIT ===============*/
.backup-manager .date input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup-manager .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.backup-manager .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.backup-manager .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}

.backup-manager .date input[type="radio"] + label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--blue-color);
    top: 3px;
    left: 5px;
    transform: scale(0);
    transition: var(--main-transition);
}

.backup-manager .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}

.backup-manager .servers {
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
}

.backup-manager .servers .server {
    position: relative;
    border: 2px solid #ddd;
}

.backup-manager .servers input[type="radio"]:checked + .server {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.backup-manager .servers input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup-manager .servers .server label {
    margin: 15px;
    cursor: pointer;
}

.backup-manager .servers .server label i {
    display: block;
}


@media (max-width: 767px) {
    .backup-manager .servers {
        flex-wrap: wrap;
    }
}

/*=============== OVERVIEW WEDGIT ===============*/
@media (max-width: 787px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .avatar-box {
    width: 300px;
}

@media (min-width: 767px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .avatar-box > img{
    width: 120px;
    height: 120px;
}

.profile-page .avatar-box .level {
    width: 70%;
    height: 6px;
    margin: auto;
    overflow: hidden;
}

.profile-page .avatar-box .level span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition);
}

.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .info-box .box > div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .info-box h4 {
    width: 100%;
    font-weight: normal;
}

.profile-page .info-box .toggle-switch {
    height: 20px;
}

.profile-page .info-box .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}

.profile-page .info-box input[type="checkbox"]:checked + .toggle-switch::before {
    left: 62px;
}

@media (max-width: 767px) {
    .profile-page .info-box .toggle-switch {
        margin: auto;
    }
}

/*=============== OTHER DATA ===============*/
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}

/*=============== SKILLS WEDGIT ===============*/
.profile-page .my-skills {
    flex-grow: 1;
}

.profile-page .my-skills ul li {
    padding: 15px 0;
}
.profile-page .my-skills ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.profile-page .my-skills ul li span:not(:last-child) {
    margin-right: 10px;
}

/*=============== Activitis WEDGIT ===============*/
.profile-page .activitis {
    flex-grow: 2;
}

.profile-page .activitis .box {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.profile-page .activitis .box img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.profile-page .activitis .box .info {
    flex: 1;
}

@media (max-width: 767px) {
    .profile-page .activitis .box {
        flex-direction: column;
    }

    .profile-page .activitis .box img {
        margin-right: 0;
    }

    .profile-page .activitis .box .info {
        margin: 15px 0;
    }
}

/*=============== PROJECTS PAGE ===============*/
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.projects-page .project > span {
    position: absolute;
    top: 10px;
    right: 10px;
}

.projects-page .team {
    min-height: 80px;
    position: relative;
}

.projects-page .team a {
    position: absolute;
    bottom: 0;
}

.projects-page .team a:hover {
    z-index: 1000;
}

.projects-page .team a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .team a:nth-child(2) {
    left: 25px;
}

.projects-page .team a:nth-child(3) {
    left: 50px;
}

.projects-page .team a:nth-child(4) {
    left: 75px;
}

.projects-page .team a:nth-child(5) {
    left: 100px;
}

.projects-page .do {
    justify-content: flex-end;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .projects-page .do {
        flex-direction: column;
    }
}

.projects-page .do span:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .projects-page .do span {
        width: fit-content;
        margin-bottom: 10px;
    }
}

.projects-page .prog {
    height: 8px;
    width: 260px;
}

.projects-page .prog span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .projects-page .price {
        flex-direction: column;
    }
    
    .projects-page .price i {
        margin-top: 20px;
    }
}

/*=============== COURSES PAGE ===============*/
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .courses-page {
        grid-template-columns: minmax(300px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.courses-page .course {
    overflow: hidden;
}

.courses-page .course img {
    max-width: 100%;
}

.courses-page .course .instructor {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 2px solid white;
}

.courses-page .course .description {
    line-height: 2;
}

.courses-page .course .info {
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.courses-page .course .info .title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}

/*=============== FRENIDS PAGE ===============*/
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
    .friends-page {
        grid-template-columns:  minmax(300px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10;
    }
}

.friends-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
    
}

.friends-page .contact i {
    padding: 10px;
    background-color: #eee;
    color: #666;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--main-transition);
    font-size: 13px;
}

.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px 0;
}

.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.friends-page .friend .icons i {
    margin-right: 10px;
}

.friends-page .friend .icons .vip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 60px;
    opacity: 0.2;
}












